# --- JAVA & MAVEN ---
target/
*.class
*.jar
*.war
*.zip
*.tar.gz
.mvn/wrapper/maven-wrapper.jar

# --- IDE SPECIFIC ---
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.nbbuild/
build/

# --- LOGS ---
*.log
hs_err_pid*
replay_pid*

# --- OS ---
.DS_Store
Thumbs.db